header {
    background-color: #2e2f30;
    color: whitesmoke;
    padding: 20px;
    padding-left: 40px;
    font-size: 22px;
    font-weight: bold;
}

.flex-container {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin: 50px 100px 0px 100px;
}

.flex-container > div {
    flex-basis: 250px;
}

@media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
    .flex-container > div {
        margin-bottom: 30px;
        flex-basis: auto;
    }
    .flex-container-laptop {
        flex-direction: column;
    }
    #image {
        width: 50px;
        height: auto;
    }
    .info {
        margin: 0px;
    }
}

.flex-container-nested-row {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.flex-container-laptop {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.flex-container-laptop > #image {
    margin: 30px;
}

.flex-container-laptop > div {
    margin: 30px;
}

.flex-container-laptop > #price-column {
    flex-basis: 300px;
}

.box {
    box-shadow: 5px 10px 8px #888888;
    background-color: #f8f8f8;
    border: 1px;
    border-radius: 5px;
    padding: 20px;
}

.title {
    font-weight: bold;
}

button {
    border-radius: 5px;
    padding: 8px;
    background-color: teal;
    color: #f0f0f2;
    cursor: pointer;
}

.info {
    margin: 40px 130px 100px 130px;
}

#image {
    width: 200px;
    height: 150px;
}

#name {
    font-weight: bold;
}

#dropdown {
    border-color: teal;
    border-width: 2px;
    border-radius: 5px;
    color: black;
    height: 30px;
}