<!DOCTYPE html>
<html>
<head>
<title>Store</title>
<meta charset = "UTF-8">
<link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <header>The Komputer Store</header>
    <main class="flex-container">
        <div class="box">
            <p class="title">Name</p>
            <div class="flex-container-nested-row">
                <p>Balance</p>
                <p id="balance"></p>
            </div>
            <div class="flex-container-nested-row" id="loan-txt">
            </div>
            <button id="loan-btn">Get a loan</button>
        </div>
        <div class="box">
            <p class="title">Work</p>
            <div class="flex-container-nested-row">
                <p>Pay</p>
                <p id="pay"></p>
            </div>
            <div>
                <button id="bank-btn">Bank</button>
                <button id="work-btn">Work</button>
            </div>
        </div>
        <div class="box">
            <p class="title">Laptops</p>
            <div>Dropdown</div>
            <p>Features</p>
        </div>
    </main>
    <div class="flex-container info box">
        <div>image</div>
        <div>
            <p>name</p>
            <p>info</p>
        </div>
        <div>
            <p>1500 €</p>
            <button>Buy now!</button>
        </div>
    </div>
    <script src="../app.js"></script>
</body>
</html>