<!DOCTYPE html>
<html>
<head>
<title>Store</title>
<meta charset = "UTF-8">
<link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <header>The Komputer Store</header>
    <main class="flex-container">
        <div class="box">
            <p class="title">Your bank</p>
            <div class="flex-container-nested-row">
                <p>Balance</p>
                <p id="balance"></p>
            </div>
            <div class="flex-container-nested-row" id="loan-txt">
            </div>
            <button id="loan-btn">Get a loan</button>
        </div>
        <div class="box">
            <p class="title">Work</p>
            <div class="flex-container-nested-row">
                <p>Pay</p>
                <p id="pay"></p>
            </div>
            <div id="buttons">
                <button id="bank-btn">Bank</button>
                <button id="work-btn">Work</button>
            </div>
        </div>
        <div class="box">
            <p class="title">Laptops</p>
            <select id="dropdown">
                <option value="1">MacBook Air 13</option> 
                <option value="2">HP EliteBook 840</option>
                <option value="3">MacBook Pro 13 MWP72</option>
                <option value="4">Lenovo Ideapad 3</option>
            </select>           
            <p id="feature"></p>
        </div>
    </main>
    <div class="info box">
        <div class="flex-container-laptop">
            <img id="image"/>
            <div>
                <p id="name"></p>
                <p id="info"></p>
            </div>
            <div id="price-column">
                <p id="price"></p>
                <button id="buy-btn">Buy now!</button>
            </div>
        </div>
    </div>
    <script src="../app.js"></script>
    <script src="../computers/computers.js"></script>
</body>
</html>